numpy==1.26.1
Pillow
huggingface_hub
einops
safetensors

numba==0.61.2

onnxruntime
pyparsing
importlib_metadata

xformers == 0.0.24
faiss-gpu
pandas
prettytable
pytorch-lightning
pytorch-metric-learning
torchmetrics
hydra-core
natsort
opencv-python-headless==4.8.1.78
orjson
pillow-heif
plyfile
python-box
rerun-sdk~=0.22.0
tensorboard
tqdm
trimesh
uniception
